:root {
    --comic-folder-size: 22;
}

@font-face {
    font-family: 'NdsTrueBios';
    src: url('nds-true-bios.ttf') format('truetype');
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'NdsTrueBios', monospace;
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
	text-align: center;
	margin: 0;
	padding: 20px;
    height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1 {
    font-size: 64px;
    font-weight: normal;
}

h2 {
    font-size: 48px;
    text-align: left;
    margin: 32px;
    font-weight: normal;
}

p {
    font-size: 16px;
}

pre {
    font-size: 24px;
    text-align: left;
    margin: 2em 32px;
}

a {
    font-size: 32px;
    color: black;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
}

.button1 {
    margin-right: 20px;
}

.button2 {
    padding-bottom: 43px;
	display: inline-block;
	font-size: 64px;
}

.custom-button {
    display: inline-block;
    align-items: center;

    &:is(footer *) {
        display: flex;
    }

    margin: 10px 20px;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
	background-color: #ffffff;
}

.button-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.comic-container {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.comic-container {
    width: auto;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 2em 0;
    padding: 0;
}

.comic-container > img {
    border: 1px black solid;
}

.responsive-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


#all-comics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.comic-thumbnail {
    max-width: 100%;
    max-height: 320px;
    margin-top: 10px;
}

.button-container {
    display: flex;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer .links {
    display: flex;
    flex-direction: row;
}